@layer reset, base;

@layer reset {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Set core body defaults */
  body {
    line-height: 1.5;
    margin: 0;
    min-block-size: 100vh;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  /* Make images easier to work with */
  img,
  picture,
  video {
    display: block;
    max-inline-size: 100%;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    cursor: pointer;
    font: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-block-size: 10em;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

@layer base {
  html {
    /* FONT SIZING */
    /* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1600,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
    --step--2: clamp(0.78rem, calc(0.77rem + 0.07vw), 0.84rem);
    --step--1: clamp(0.94rem, calc(0.91rem + 0.14vw), 1.05rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.23vw), 1.31rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.36vw), 1.64rem);
    --step-2: clamp(1.62rem, calc(1.51rem + 0.54vw), 2.05rem);
    --step-3: clamp(1.94rem, calc(1.79rem + 0.78vw), 2.56rem);
    --step-4: clamp(2.33rem, calc(2.11rem + 1.09vw), 3.2rem);
    --step-5: clamp(2.8rem, calc(2.5rem + 1.51vw), 4.01rem);
    --step-6: clamp(3rem, calc(3.25rem + 2.25vw), 5.72rem);
    --step-7: clamp(4.7rem, calc(4.09rem + 3.06vw), 7.15rem);
    --step-8: clamp(5.64rem, calc(4.82rem + 4.12vw), 8.94rem);
    --step-9: clamp(6.77rem, calc(5.67rem + 5.5vw), 11.18rem);
    --step-10: clamp(8.13rem, calc(6.67rem + 7.3vw), 13.97rem);

    /* SPACING */
    /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1600,21,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
    --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.53rem + 0.16vw), 0.69rem);
    --space-xs: clamp(0.88rem, calc(0.84rem + 0.16vw), 1rem);
    --space-s: clamp(1.13rem, calc(1.08rem + 0.23vw), 1.31rem);
    --space-m: clamp(1.69rem, calc(1.61rem + 0.39vw), 2rem);
    --space-l: clamp(2.25rem, calc(2.16rem + 0.47vw), 2.63rem);
    --space-xl: clamp(3.38rem, calc(3.23rem + 0.7vw), 3.94rem);
    --space-2xl: clamp(4.5rem, calc(4.31rem + 0.94vw), 5.25rem);
    --space-3xl: clamp(6.75rem, calc(6.47rem + 1.41vw), 7.88rem);

    /* ONE-UP PAIRS */
    --space-3xs-2xs: clamp(0.31rem, calc(0.22rem + 0.47vw), 0.69rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.45rem + 0.55vw), 1rem);
    --space-xs-s: clamp(0.88rem, calc(0.77rem + 0.55vw), 1.31rem);
    --space-s-m: clamp(1.13rem, calc(0.91rem + 1.09vw), 2rem);
    --space-m-l: clamp(1.69rem, calc(1.45rem + 1.17vw), 2.63rem);
    --space-l-xl: clamp(2.25rem, calc(1.83rem + 2.11vw), 3.94rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.91rem + 2.34vw), 5.25rem);
    --space-2xl-3xl: clamp(4.5rem, calc(3.66rem + 4.22vw), 7.88rem);

    /* CUSTOM PAIRS */
    --space-s-l: clamp(1.13rem, calc(0.75rem + 1.88vw), 2.63rem);

    /* FONT FAMILIES */
    --body: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
      Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
      source-sans-pro, sans-serif;
    --headings: "Oli Grotesk", Charter, "Bitstream Charter", "Sitka Text",
      Cambria, serif;

    /* COLORS */
    --background: rgb(238, 240, 229);
    --foreground: rgb(1, 2, 3);
    --accent-dark: rgb(22, 48, 32);
    --accent-light: rgb(48, 77, 48);
    --soft: rgb(182, 196, 182);
    --white: white;

    /* STANDARD RULES */
    accent-color: var(--accent-dark);
    background-color: var(--background);
    color: var(--foreground);
    scrollbar-gutter: stable;
  }

  body {
    font-family: var(--body);
    font-size: var(--step-0);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--headings);
  }

  h1 {
    font-size: var(--step-5);
  }

  h2 {
    font-size: var(--step-4);
  }

  h3 {
    font-size: var(--step-3);
  }

  h4 {
    font-size: var(--step-2);
  }

  h5 {
    font-size: var(--step-1);
  }

  h6 {
    font-size: var(--step-0);
  }

  a {
    color: var(--accent-light);
    text-decoration: 1px underline;
    transition: text-decoration ease 0.2s;

    &:hover,
    &:focus-visible {
      text-decoration-thickness: 0.25em;
    }
  }

  button,
  .button {
    appearance: none;
    background-color: var(--soft);
    border: 1px solid var(--accent-dark);
    border-radius: 0.25em;
    color: var(--foreground);
    display: inline-block;
    font-weight: 700;
    padding-block: 0.5em;
    padding-inline: 0.75em;
    text-decoration: none;
    transition: background-color ease 0.2s;

    &:hover,
    &:focus-visible {
      background-color: var(--white);
    }
  }

  .site-footer {
    background-color: var(--accent-dark);
    color: var(--white);
    inset-block-start: 100dvh;
    padding-block: var(--space-m);
    padding-inline: var(--space-l);
    position: sticky;

    & a {
      color: var(--white);
    }
  }

  .footer-navigation {
    align-items: center;
    display: flex;
    gap: var(--space-s);
    justify-content: center;

    & a {
      display: inline-block;
    }
  }

  .park-title {
    font-size: var(--step-5);
    line-height: 1;
    overflow-wrap: anywhere;

    @media (min-width: 50rem) {
      font-size: var(--step-7);
    }
  }

  .park-header {
    padding-block: var(--space-l);
  }

  .park-meta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);

    & > * {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5ch;
    }

    & :is(svg, img) {
      max-block-size: var(--step-0);
      max-inline-size: var(--step-0);
    }
  }

  .park-sky {
    display: block;
    padding-block: var(--space-s);
  }

  .state-header {
    display: grid;
    block-size: max(350px, 50vh);

    & .state-flag {
      block-size: 100%;
      grid-area: 1 / -1;
      inline-size: 100%;
      object-fit: cover;
    }

    & .state-header-content {
      align-items: center;
      background: radial-gradient(
          ellipse at center,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 37%,
          rgba(0, 0, 0, 0.65) 100%
        )
        no-repeat center center scroll;
      display: flex;
      flex-direction: column;
      grid-area: 1 / -1;
      justify-content: center;
      padding: var(--space-l);
    }

    & > * {
      color: var(--white);
      font-family: var(--headings);
      font-size: var(--step-3);
      font-weight: bold;
      line-height: 1;
      overflow-wrap: anywhere;
      text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    }

    & .state-title {
      font-size: var(--step-4);
      text-transform: uppercase;

      @media (min-width: 50rem) {
        font-size: var(--step-8);
      }
    }
  }

  .main--state,
  .main--basic {
    padding-block: var(--space-m);
  }

  .divider {
    inline-size: max(150px, 45%);
    border-color: var(--accent-light);
  }
}

@layer utils {
  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  .flow--less {
    --flow-space: 0.5em;
  }

  .flow--more {
    --flow-space: 1.5em;
  }

  .wrapper {
    inline-size: min(
      100% - var(--wrapper-padding, 4rem),
      var(--wrapper-size, 80rem)
    );
    margin-inline: auto;

    &.constrain--more {
      --wrapper-size: 65rem;
    }

    &.constrain--most {
      --wrapper-size: 50rem;
    }

    &.constrain--less {
      --wrapper-size: 100rem;
    }
  }

  .visually-hidden:not(:focus):not(:active) {
    block-size: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    inline-size: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  .u-step-10 {
    font-size: var(--step-10);
  }

  .u-step-9 {
    font-size: var(--step-9);
  }

  .u-step-8 {
    font-size: var(--step-8);
  }

  .u-step-7 {
    font-size: var(--step-7);
  }

  .u-step-6 {
    font-size: var(--step-6);
  }

  .u-step-5 {
    font-size: var(--step-5);
  }

  .u-step-4 {
    font-size: var(--step-4);
  }

  .u-step-3 {
    font-size: var(--step-3);
  }

  .u-step-2 {
    font-size: var(--step-2);
  }

  .u-step-1 {
    font-size: var(--step-1);
  }

  .u-step-0 {
    font-size: var(--step-0);
  }

  .u-step--1 {
    font-size: var(--step--1);
  }

  .u-step--2 {
    font-size: var(--step--2);
  }

  .u-text-center {
    text-align: center;
  }

  .u-font-italic {
    font-style: italic;
  }

  .u-font-bold {
    font-weight: 700;
  }

  .u-truncate :is(p, ul, ol) {
    max-inline-size: var(--readable-length, 55ch);
  }

  .u-grid {
    display: grid;
    gap: var(--grid-gap, var(--space-m));
  }

  [data-grid-columns="2"] {
    grid-template-columns: repeat(2, 1fr);
  }

  [data-grid-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
  }

  [data-grid-columns="fluid"] {
    grid-template-columns: repeat(
      var(--fluid-type, auto-fit),
      minmax(var(--fluid-col-size, 250px), 1fr)
    );
  }
}
