---
layout: base
---

<header class="state-header" style="--flag: url(/static/img/{{ flag }})">
  <img class="state-flag" src="/static/img/{{ flag }}" alt="">
  <div class="state-header-content">
    <h1 class="state-title">{{ title }}</h1>
  </div>
</header>
<main class="main">
  {{ content }}
</main>
