---
title: Home
description: Welcome
layout: basic
---

<header class="home-header flow flow--less">
  <h1>I'm visiting all the state parks in Maryland</h1>
  <p class="u-step--1">...and maybe other states too.</p>
</header>
<article class="home-content u-truncate flow">
  <p>Inspired by Chris and Dave's <a href="https://shoptalkshow.com/597/#t=47:24">discussion on ShopTalk</a> and Manton Reece's <a href="https://www.manton.org/texas-state-parks/">similar state park journey</a>, I'm going to visit all the state parks in the state I've spent 95% of my life in.</p>
  <p class="u-step--1 u-font-italic">This site technically supports me logging parks in other states too, but let's not get ahead of myself yet.</p>
  <p>Having lived here for so long, I'm no stranger to some of the parks, but I'm starting fresh for this project.</p>
  <p>Here's the most recent park I've visited:</p>
  <ol>
    {%- if collections.park -%}
      {%- for park in collections.park -%}
        <li><a href="{{ park.url }}">{{ park.data.title }}</a> on {{ park.date | dateString }}</li>
      {%- endfor -%}
    {%- else -%}
      <li>No parks visited yet.</li>
    {%- endif -%}
  </ol>
  <a class="button u-step--1" href="/md/">View the MD archive</a>
  <h2 class="u-step-2">Why am I doing this?</h2>
  <p>I want to spend more time outside appreciating nature. A recent trip to Swallow Falls State Park had me thinking those experiences are the ones I'll look back on when I'm older and wish I did more of.</p>
</article>
